driftfile /var/lib/ntp/drift

restrict default nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1

{% for item in ntp_servers %}
server {{ item }} iburst
{% endfor %}

{% if ansible_virtualization_role=='guest' and ansible_virtualization_type=='virtualbox' %}
{% endif %}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

disable monitor
